{% extends 'back.html.twig' %}

{% block title %}Afficher{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <h1>Events List</h1>

    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Nombre de places</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Show</th>
        </tr>

        {% for ee in event %}
        <tr>

            <td> {{ ee.nom }}</td>
            <td> {{ ee.dateDebut | date('d/m/yy') }}</td>
            <td> {{ ee.dateFin | date('d/m/yy') }}</td>
            <td> {{ ee.nbPlaces }}</td>
            <td> {{ ee.description }}</td>
            <td> {{ ee.photo }}</td>
            <td>
                <a href="{{ path('_supprimerEvent',{'id':ee.id}) }}">Delete</a>
            </td>
            <td>
                <a href="{{ path('_modifierEvent',{'id':ee.id}) }}">Update</a>
            </td>
            <td>
                <a href="{{ path('_afficherEventID',{'id':ee.id}) }}">Show</a>
            </td>

            {% endfor %}
        </tr>
    </table>
    <ul>
        <li><a href="{{ path('_ajouterEvent') }}">New Event</a></li>
    </ul>
{% endblock %}
